@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Sobrescribe la fuente global de Bootstrap */
    --bs-body-font-family: 'Barlow Condensed', sans-serif !important; 
}

/*------------------Pesos de barlow---------------------*/

.barlow-condensed-semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/*-----------------------------------------------------*/

html {
    scroll-behavior: smooth;
    scroll-padding-top: 72px;
}

* {
    color: #14184B;
}

p {
    font-family: 'Inter';
    font-size: small;
}

.nav-item a{
    color: #14184B;
}

.nav-item .btn.dropdown-toggle {
    color: #14184B;
}

.offcanvas {
    width: 50vw !important; 
}

.bg-darkblue {
    background-color: #14184B !important; /*Important para pisar el offcanvas*/
}

.bg-red {
    background-color: #E01F2E;
}

.offcanvas .nav-link {
    color: #ffffff !important;
    font-weight: 300;
}

.btn.btn-red {
    border-color: #E01F2E !important;
    color: #E01F2E !important;
    background-color: white;
}

.btn.btn-red:hover {
    border-color: white;
    color: #ffffff !important;
    background-color: #E01F2E !important;
}

.img-tarjeta-mobile {
    width: 100% !important;
    height: 160px !important;   
    object-fit: cover !important;
    display: block;   /* Hace el recorte mágico para que no se deforme el Lemon Cake ni el Coco */
}

.img-tarjeta-desktop {
    aspect-ratio: 1 / 1; /* Fuerza a que la imagen sea perfectamente cuadrada (proporción 1 a 1) */
    object-fit: cover; 
}

.box-pasos {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.font-bold {
    font-weight: 600;
}

.font-light {
    font-weight: 300;
}

.text-red {
    color: #E01F2E !important;
}

.border-red {
    border: 1px solid #E01F2E;
}

.logo-local {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.semaforo {
    width: 10px;
    height: 10px;
    background-color: #EEE5DC;
}

.logo {
    border-radius: 3rem; /*Porque la imagen orriginal tenia los bordes redondeados y las esquinas se ven negras*/
    height: 3.5rem; 
    width: auto; 
}


#locales {
    position: relative;
    z-index: 3; /* Un número mayor que el carrusel lo pone adelante */
}

#solapamiento {
    margin-top: -60px !important;
    position: relative; /*Para asegurarme que quede abajo*/
    z-index: 1;
}

#promos {
    margin-top: -60px !important;
    position: relative;
    z-index: 2; /* Un número mayor que el carrusel lo pone adelante */
}

/*Solo XS*/
@media (max-width:576px) {
    p {
        font-size: 10pt;
    }
    button {
        border-radius: 1rem;
    }
    #promos {
        margin-top: 0 !important;
    }
    .scroll-horizontal-xs {
        overflow-x: auto; /* Activa el scroll horizontal si el contenido se desborda */
        overflow-y: hidden; /* Evita cualquier scroll vertical accidental */
        -webkit-overflow-scrolling: touch; /* Hace que el deslizamiento sea suave en iPhone/iOS */
    }

}

/*-----------------LOGIN--------------------*/

@media (min-width:576px) {
    #bg-login {
        background-image: url(img/frente-monserrat-noche-ajustada.avif);
        background-size: cover;
    }

}

/*----------------PRODUCTO-----------------*/


.return-custom {
    width: 40px;
    height: 40px;
}

#heart-custom {
    width: 40px;
    height: 40px;
}

.bi-suit-heart-fill {
    color: #E01F2E;
}

/* Ajuste de tamaño y borde */
.custom-radio {
    width: 1.5em !important;
    height: 1.5em !important;
    border: 2px solid #0f1743 !important; 
    background-color: transparent;
    cursor: pointer;
}

/* Grosor extra a iconos Bootstrap*/
.icon-bold {
    -webkit-text-stroke: 1px currentColor;
}

#icono-restar {
    color: #E01F2E !important;
}

.btn.btn-red-alt {
    border-color: #E01F2E;
    color: white !important;
    background-color: #E01F2E;
}

.btn.btn-red-alt:hover{
    border-color: #E01F2E;
    color: #E01F2E !important;
    background-color: white;
}

/* Para que los span hereden el color que marca el boton y evitar que Bootstrap lo pise*/
.btn.btn-red-alt span {
    color: inherit !important; 
}

.img-carrito {
    aspect-ratio: 1 / 1;
    width: 4rem;
    height: auto;
    object-fit: cover;
}



